<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>코다리</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="shortcut icon" href="../img/favicon.ico" />
<link rel="icon" href="../img/favicon.ico" />
</head>
<style>
@import url("/css/fackfont.css");
tr{ text-align: center;}

.box{
		margin-top: 5em;
}
</style>
<script src="/js/jQuery/jquery-3.5.1.js" type="text/javascript"></script>
<script type="text/javascript">

$(function(){
	getReplyList();
	getAddReply();
});


function getReplyList(){
    $.ajax({
        type: "GET", //get방식으로 자료를 전달한다
        url: "/board/replyList.do", 
        data: {"bid": $("#board_id").val()},
        success: function(data){ 
            $(`#replyList`).html(data);
            $('#replyList').val().replace(/\n/g, "<br>");
        }
    });
}


function getAddReply(){
	$.ajax({
		type: "GET",
		url: "/board/addReply.do",
		data: {"bid" : $("#board_id").val()},
		success: function(data){ 
	         $(`#addReply`).html(data);
	        }
	}); 
	
} 


</script>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a th:href="@{/}" class="logo"><strong>코</strong>로나 정보, <strong>다</strong> <strong>이</strong>곳</a>
					<ul th:if ="${session.userLoginInfo != null}" class="icons">
						<li><span th:text="${session.userLoginInfo.user_nickname}"></span>님, 환영합니다.&nbsp;&nbsp;<a th:href = "@{/member/logoutProcess}" class="button small">로그아웃</a></li>
					</ul>

				</header>
                   <input type="hidden" id="board_id" th:value="${board.board_id}">
				<!-- Banner -->
						
							
						    <form th:action="@{/board/boardDetail.do}" th:object="${board}" th:method="post">

							<div class="box" id="text">
 								<h2 th:text="${board.board_title}"></h2>
 								게시일 : <span th:text="${board.created_date}"></span>
 								&nbsp;&nbsp;
 								마지막 작성일 : <span th:text="${board.modified_date}"></span>
 								<span style="float: right" th:text="'조회수 : '+${board.view}"></span>
 								<hr>
 								
								<p th:utext="${board.board_content}"></p>
     						</div>
     							<div th:if="${session.userLoginInfo != null && session.userLoginInfo.user_id == board.user_id || session.userLoginInfo != null && session.userLoginInfo.user_role == 'admin'}">
   									<input type="submit" th:value="삭제"
     									th:formaction="@{'/board/boardDelete.do?bid='+${board.board_id}}">
  									<input type="submit" th:value="수정"
     									th:formaction="@{'/board/boardUpdate.do?bid='+${board.board_id}}">
     								</div>
     						</form> <br>
     						<div style="text-align: right;">
     					    <a class="button" href="/board/boardAll.do">게시판목록</a>
     						</div>
     						
     						<div id="addReply">
							</div>
     						<div id="replyList">
     						</div>
     						
     						<div style="text-align: right;">
     					    <a class="button" href="#main">본문보기</a>
     						</div>
					</div>
					</div>
		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">
				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="/">Homepage</a></li>
						<li><a href="/notice/noticeList.do">공지사항</a></li>
						<li><span class="opener">정보</span>
							<ul>
								<li><a href="/fact/factCheck">Fact Check</a></li>
								<li><a href="/board/boardAll.do">정보 공유</a></li>
								<li><a href="/covid/covidHospitalHome.do">실시간 병원 정보</a></li>
							</ul>
						</li>
						<li th:if="${session.userLoginInfo != null}"><a th:href="@{/member/myPage.do}">마이페이지</a></li>
						<li th:if="${session.userLoginInfo == null}"><a th:href="@{/member/login}">로그인 페이지</a></li>
						<li th:if="${session.userLoginInfo == null}"><a th:href="@{/member/register}">회원 가입</a></li>
						<li th:if="${session.userLoginInfo != null && session.userLoginInfo.user_role == 'admin'}"><span class="opener">관리자 페이지</span>
							<ul>
								<li><a href="/member/memberAll.do">유저 목록</a></li>
							</ul>
						</li>
					</ul>
				</nav>


				<!-- Section -->
				<section>
					<header class="major">
						<h2>Contact Us</h2>
					</header>
					<p>문의 사항이 있다면 아래의 수단 중 하나로 문의해 주세요.</p>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a href="#">codari@gmail.com</a></li>
						<li class="icon solid fa-phone">(02) 123-4567</li>
						<li class="icon solid fa-home">서울시 성북구 한성대학교 #02876<br />Korea, TN 02-760-5800</li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">
						&copy; 2020 -
						<script>
							document.write(new Date().getFullYear());
						</script> 
						All rights reserved. <br>Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.
					</p>
				</footer>
			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>
</body>
</html>