<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="shortcut icon" href="../img/favicon.ico" />
<link rel="icon" href="../img/favicon.ico" />
<title>코다리</title>
<style>
	@import url("/css/fackfont.css");
	h1{
		text-align: center;
	}

	.box{
		margin-top: 5em;
		margin-left: 10%;
		margin-right: 10%;
		padding-right: 10%;
		padding-left: 10%;
}
</style>
<title>코다리</title>
</head>
<body>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a th:href="@{/}" class="logo"><strong>코</strong>로나 정보, <strong>다</strong> <strong>이</strong>곳</a>
					<ul th:if ="${session.userLoginInfo != null}" class="icons">
						<li><span th:text="${session.userLoginInfo.user_nickname}"></span>님, 환영합니다.&nbsp;&nbsp;<a th:href = "@{/member/logoutProcess}" class="button small">로그아웃</a></li>
					</ul>

				</header>
				<!-- Banner -->
				<section>
					<div class="box" id="text">
					<h1>유저 정보 수정</h1>
					<hr>
						<form th:action="@{/member/memberUpdate.do}" th:object="${user}" th:method="post">
							<input type="hidden" disabled="disabled" th:value="${user_id}"><br>
							<input type="hidden" th:name="${user_id}" th:field="*{user_id}" th:value="${user_id}"> 
							이메일:<input type="email" th:name="${user_email}" th:field="*{user_email}" th:value="${user_email}"><br> 
							닉네임:<input type="text"  th:name="${user_nickname}" th:field="*{user_nickname}" th:value="${user_nickname}"><br> 
							비밀번호:<input type="text" th:name="${user_password}" th:value="${user_password}"><br>
								<input type="submit" th:value="수정하기">
						</form>
						</div>
				</section>
					</div>
					</div>
		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">
				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="/">Homepage</a></li>
						<li><a href="/notice/noticeList.do">공지사항</a></li>
						<li><span class="opener">정보</span>
							<ul>
								<li><a href="/fact/factCheck">Fact Check</a></li>
								<li><a href="/board/boardAll.do">정보 공유</a></li>
								<li><a href="/covid/covidHospitalHome.do">실시간 병원 정보</a></li>
							</ul>
						</li>
						<li th:if="${session.userLoginInfo != null}"><a th:href="@{/member/myPage.do}">마이페이지</a></li>
						<li th:if="${session.userLoginInfo == null}"><a th:href="@{/member/login}">로그인 페이지</a></li>
						<li th:if="${session.userLoginInfo == null}"><a th:href="@{/member/register}">회원 가입</a></li>
						<li th:if="${session.userLoginInfo != null && session.userLoginInfo.user_role == 'admin'}"><span class="opener">관리자 페이지</span>
							<ul>
								<li><a href="/member/memberAll.do">유저 목록</a></li>
							</ul>
						</li>
					</ul>
				</nav>


				<!-- Section -->
				<section>
					<header class="major">
						<h2>Contact Us</h2>
					</header>
					<p>문의 사항이 있다면 아래의 수단 중 하나로 문의해 주세요.</p>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a href="#">codari@gmail.com</a></li>
						<li class="icon solid fa-phone">(02) 123-4567</li>
						<li class="icon solid fa-home">서울시 성북구 한성대학교 #02876<br />Korea, TN 02-760-5800</li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">
						&copy; 2020 -
						<script>
							document.write(new Date().getFullYear());
						</script> 
						All rights reserved. <br>Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.
					</p>
				</footer>
			</div>
		</div>

	</div>
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>
</body>
</html>