<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="shortcut icon" href="../img/favicon.ico" />
<link rel="icon" href="../img/favicon.ico" />
<title>코다리</title>
<style>
@import url("/css/fackfont.css");
	tr{ text-align: center;}
</style>
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/" class="logo"><strong>코</strong>로나 정보, <strong>다</strong>
						<strong>이</strong>곳</a>
					<ul th:if ="${session.userLoginInfo != null}" class="icons">
						<li><span th:text="${session.userLoginInfo.user_nickname}"></span>님, 환영합니다.&nbsp;&nbsp;<a th:href = "@{/member/logoutProcess}" class="button small">로그아웃</a></li>
					</ul>
				</header>

				<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h1 th:text="${session.userLoginInfo.user_nickname}"></h1>

						</header>
					</div>
				</section>
				<section>


					<div class="col-6 col-12-small">
						<table border=1>
							<tr>
								<td>닉네임</td>
								<td>이메일</td>
							</tr>
							<tr>
								<td th:text="${session.userLoginInfo.user_nickname}"></td>
								<td th:text="${session.userLoginInfo.user_email}"></td>
							</tr>
						</table>
						<a class="button big"
							th:href="@{'memberUpdate.do?userid='+${session.userLoginInfo.user_id}}">수정</a>
						<a class="button big"
							th:href="@{'memberDelete.do?userid='+${session.userLoginInfo.user_id}}">탈퇴</a>
					</div>

				</section>
			</div>
		</div>
		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">
				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="/">Homepage</a></li>
						<li><a href="/notice/noticeList.do">공지사항</a></li>
						<li><span class="opener">정보</span>
							<ul>
								<li><a href="/fact/factCheck">Fact Check</a></li>
								<li><a href="/board/boardAll.do">정보 공유</a></li>
								<li><a href="/covid/covidHospitalHome.do">실시간 병원 정보</a></li>
							</ul>
						</li>
						<li th:if="${session.userLoginInfo != null}"><a th:href="@{/member/myPage.do}">마이페이지</a></li>
						<li th:if="${session.userLoginInfo == null}"><a th:href="@{/member/login}">로그인 페이지</a></li>
						<li th:if="${session.userLoginInfo == null}"><a th:href="@{/member/register}">회원 가입</a></li>
						<li th:if="${session.userLoginInfo != null && session.userLoginInfo.user_role == 'admin'}"><span class="opener">관리자 페이지</span>
							<ul>
								<li><a href="/member/memberAll.do">유저 목록</a></li>
							</ul>
						</li>
					</ul>
				</nav>


				<!-- Section -->
				<section>
					<header class="major">
						<h2>Contact Us</h2>
					</header>
					<p>문의 사항이 있다면 아래의 수단 중 하나로 문의해 주세요.</p>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a href="#">codari@gmail.com</a></li>
						<li class="icon solid fa-phone">(02) 123-4567</li>
						<li class="icon solid fa-home">서울시 성북구 한성대학교 #02876<br />Korea, TN 02-760-5800</li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">
						&copy; 2020 -
						<script>
							document.write(new Date().getFullYear());
						</script> 
						All rights reserved. <br>Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.
					</p>
				</footer>
			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>
</body>
</html>